<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/dashboard.css') }}">
        <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/base.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <link href="{{url_for('static' , filename = 'css/test.css')}}" rel="stylesheet" />
    </head>
    <body class="sb-nav-fixed">
        <!-- navbar -->
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="{{url_for('Home_Page')}}">Syngery Soccer</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <a href="{{url_for('getCart')}}" class="nav-link"> Cart ({{ session['Shoppingcart']|length }}) </a>
            <div class="profileicon">
                <div class="nav_right">
                    <ul>
                        <li class="nr_li dd_main">
                            <!-- <img src="{{url_for('static' , filename = 'images/profilepics/default.png')}}" alt="profile_img" class = 'rounded-circle'> -->
                            {% if current_user.base64 == 'None' %}
                            <img src="../../../static/images/profilepics/default.png" alt="" align = 'right' class = 'rounded-circle'>
                            {% elif current_user.base64 != 'None' %}
                            <img src="data:image/png;base64, {{current_user.base64}}" align = 'right' class ='rounded-circle'>
                            {% endif %}
                            <div class="dd_menu">
                                <div class="dd_left bg-dark">
                                    <ul>
                                        <li><i class="fas fa-map-marker-alt"></i></li>
                                        <li><i class="far fa-star"></i></li>
                                        <li><i class="far fa-plus-square"></i></li>
                                        <li><i class="fas fa-cog"></i></li>
                                        <li><i class="fas fa-download"></i></li>
                                        <li><i class="fas fa-sign-out-alt"></i></li>
                                    </ul>
                                   
                                </div>
                                <div class="dd_right">
                                    <ul>
                                        <li>Location</li>
                                        <li>Favorites</li>
                                        <li>Addpeople</li>
                                        <li>Settings</li>
                                        <li>Downloads</li>
                                        <li><a href="{{url_for('logout')}}" style = 'text-decoration: none; color:#868686;;'>logout</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nr_li">
                            <i class="fas fa-envelope-open-text"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Navbar Search-->
            <form class="form-inline d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" action="{{url_for('result')}}">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" name = 'q'>
                    <button class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- <form class="form-inline my-2 my-lg-0" action="{{url_for('result')}}">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
             -->
           
        </nav>
        
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="{{url_for('dash')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                User Profile
                            </a>
                            <div class="sb-sidenav-menu-heading">Coupon</div>
                            <a class="nav-link" href="{{url_for('coupon')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Coupon
                            </a>
                            <div class="sb-sidenav-menu-heading">Dashboard</div>
                            <a class="nav-link" href="{{url_for('sales')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard/Sales Page
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            {% if current_user.admin == 'yes' %}
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Admin Panel
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="../../products/addproduct.html">Add product</a>
                                    <a class="nav-link" href="{{url_for('addcat')}}">add category</a>
                                    <a class="nav-link" href="{{url_for('addbrand')}}">add brand</a>
                                    <a class="nav-link" href="{{url_for('brands')}}">update brand</a>
                                    <a class="nav-link" href="{{url_for('admin')}}">update product</a>
                                    <a class="nav-link" href="{{url_for('displayFeedback')}}">view feedback</a>
                                </nav>
                            </div>
                            {% endif %}
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Shops
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="../../products/index.html">Shopping Page</a>
                                            <a class="nav-link" href="{{url_for('getCart')}}">Your Cart</a>
                                            
                                        </nav>
                                    </div>
                                    <!-- <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        contact us
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a href="{{url_for('contactUs')}}">Contact Us</a>
                                        </nav>
                                    </div> -->
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Feedback</div>
                            <a class="nav-link" href="{{url_for('indexs')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Feedback
                            </a>
                            <a class="nav-link" href="{{url_for('contactUs')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                contact us
                                
                            </a>
                        </div>
                        <div class="small">Logged in as: {{current_user.username}}</div>
                    </div>
                </nav>
            </div>
        <!-- endnavbar -->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                       
                        <!-- <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol> -->
                        <!-- colored cards -->
                        <!-- <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Primary Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Warning Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Success Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Danger Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        
                        <!-- end colored cards -->
                        <div class="row">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            <ul class=flashes>
                                {% for category, msg in messages %}
                                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                    <strong>{{msg}}</strong> 
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                  </div>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        {% endwith %}
                            <!-- flashed messages -->
                            <!-- content inside here -->
                            {% block content %}
                            {% endblock %}
                            <!-- end content -->
                        </div>
                        <!-- footer -->
                        <div class="row">
                        <hr class="line">
      <footer class="footer-32892 pb-0">
        <div class="site-section">
          <div class="container">
  
            
            <div class="row">
  
              <div class="col-md pr-md-5 mb-4 mb-md-0">
                <h3>About Us</h3>
                <p class="mb-4">A Group of friends starting a business from stratch dreaming for the day we become the global leading distrubutor of football equipment</p>
                <ul class="list-unstyled quick-info mb-4">
                  <li><a href="#" class="d-flex align-items-center"><span class="icon mr-3 icon-phone"></span>9725 9035</a></li>
                  <li><a href="#" class="d-flex align-items-center"><span class="icon mr-3 icon-envelope"></span>NanyangPolytechnic@gmail.com</a></li>
                </ul>
  
                
                <div class="subscribe">
                    <a href="{{url_for('feedback')}}" class = 'btn btn-submit'>Provide Feedback</a>
                </div>
              </div>
              <div class="col-md mb-4 mb-md-0">
                <h3>Latest News</h3>
                <ul class="list-unstyled tweets">
                  <li class="d-flex">
                    <div class="mr-4"><span class="icon icon-twitter"></span></div>
                    <div>New Item Released : Man Utd 2021 Jersey <br>
                    <a href="" style = 'text-decoration: underline !important;'>learn more</a>
                    </div>
                  </li>
                  <li class="d-flex">
                    <div class="mr-4"><span class="icon icon-twitter"></span></div>
                    <div>Hot Item : Liverpool 2021 Home Jersey <br>
                    <a href="" style = 'text-decoration: underline !important;'>learn more</a>
                    </div>
                  </li>
                  <li class="d-flex">
                    <div class="mr-4"><span class="icon icon-twitter"></span></div>
                    <div>Vouchers available! <br>
                    <a href="" style = 'text-decoration: underline !important;'>learn more</a>
                    </div>
                  </li>
                </ul>
              </div>
  
  
              <div class="col-md-3 mb-4 mb-md-0">
                <h3>Our Team</h3>
                <div class="row gallery">
                  <div class="col-6">
                    <a href="#"><img src="images/img_1.jpg" alt="Image" class="img-fluid"></a>
                    <a href="#"><img src="images/img_2.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="col-6">
                    <a href="#"><img src="images/img_3.jpg" alt="Image" class="img-fluid"></a>
                    <a href="#"><img src="images/img_4.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                </div>
              </div>
                    <footer class="text-center text-white" style="background-color: white;">
                        <!-- Grid container -->
                        <div class="container pt-4">
                          <!-- Section: Social media -->
                          <section class="mb-4">
                            <!-- Facebook -->
                            <a
                              class="btn btn-link btn-floating btn-lg text-dark m-1"
                              href="#!"
                              role="button"
                              data-mdb-ripple-color="dark"
                              ><i class="fab fa-facebook-f"></i
                            ></a>
                      
                            <!-- Twitter -->
                            <a
                              class="btn btn-link btn-floating btn-lg text-dark m-1"
                              href="#!"
                              role="button"
                              data-mdb-ripple-color="dark"
                              ><i class="fab fa-twitter"></i
                            ></a>
                      
                            <!-- Google -->
                            <a
                              class="btn btn-link btn-floating btn-lg text-dark m-1"
                              href="#!"
                              role="button"
                              data-mdb-ripple-color="dark"
                              ><i class="fab fa-google"></i
                            ></a>
                      
                            <!-- Instagram -->
                            <a
                              class="btn btn-link btn-floating btn-lg text-dark m-1"
                              href="#!"
                              role="button"
                              data-mdb-ripple-color="dark"
                              ><i class="fab fa-instagram"></i
                            ></a>
                      
                            <!-- Linkedin -->
                            <a
                              class="btn btn-link btn-floating btn-lg text-dark m-1"
                              href="#!"
                              role="button"
                              data-mdb-ripple-color="dark"
                              ><i class="fab fa-linkedin"></i
                            ></a>
                            <!-- Github -->
                            <a
                              class="btn btn-link btn-floating btn-lg text-dark m-1"
                              href="#!"
                              role="button"
                              data-mdb-ripple-color="dark"
                              ><i class="fab fa-github"></i
                            ></a>
                          </section>
                          <!-- Section: Social media -->
                        </div>
                        <!-- Grid container -->
                      </footer>
                </div>
              </div>
          </div>
    </footer>
    </div>
        {% block scripts %}
<!--Popper 1.16.1, Bootstrap 4.5.2 JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{url_for('static' , filename = 'js/base.js')}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
        <script src="{{url_for('static' , filename = 'js/navbar.js')}}"></script>
    </body>
</html>
{% endblock %}
