<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/dashboard.css') }}">
        <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/base.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <link href="{{url_for('static' , filename = 'css/test.css')}}" rel="stylesheet" />
    </head>
    <body class="sb-nav-fixed">
        <!-- navbar -->
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <div class="profileicon">
                <div class="nav_right">
                    <ul>
                        <li class="nr_li dd_main">
                            <!-- <img src="{{url_for('static' , filename = 'images/profilepics/default.png')}}" alt="profile_img" class = 'rounded-circle'> -->
                            <img src="data:image/png;base64, {{current_user.base64}}" align = 'right' class ='rounded-circle' alt = 'profile img'>
                            <div class="dd_menu">
                                <div class="dd_left bg-dark">
                                    <ul>
                                        <li><i class="fas fa-map-marker-alt"></i></li>
                                        <li><i class="far fa-star"></i></li>
                                        <li><i class="far fa-plus-square"></i></li>
                                        <li><i class="fas fa-cog"></i></li>
                                        <li><i class="fas fa-download"></i></li>
                                        <li><i class="fas fa-sign-out-alt"></i></li>
                                    </ul>
                                </div>
                                <div class="dd_right">
                                    <ul>
                                        <li>Location</li>
                                        <li>Favorites</li>
                                        <li>Addpeople</li>
                                        <li>Settings</li>
                                        <li>Downloads</li>
                                        <li><a href="{{url_for('logout')}}" style = 'text-decoration: none; color:#868686;;'>logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nr_li">
                            <i class="fas fa-envelope-open-text"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </nav>
        
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="../../index.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Layouts
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="voucher.html">Static Navigation</a>
                                    <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Login</a>
                                            <a class="nav-link" href="register.html">Register</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">401 Page</a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>
                </nav>
            </div>
        <!-- endnavbar -->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                       
                        <!-- <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol> -->
                        <!-- colored cards -->
                        <!-- <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Primary Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Warning Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Success Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Danger Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        
                        <!-- end colored cards -->
                        <div class="row">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            <ul class=flashes>
                                {% for category, msg in messages %}
                                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                    <strong>{{msg}}</strong> 
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                  </div>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        {% endwith %}
                            <!-- flashed messages -->
                            <!-- content inside here -->
                            {% block content %}
                            {% endblock %}
                            <!-- end content -->
                        </div>
                        <!-- footer -->
                        <div class="row">
                            

                          
                                <!-- Footer -->
                                <footer
                                        class="text-center text-lg-start text-white"
                                        style="background-color: #929fba"
                                        >
                                  <!-- Grid container -->
                                  <div class="container p-4 pb-0">
                                    <!-- Section: Links -->
                                    <section class="">
                                      <!--Grid row-->
                                      <div class="row">
                                        <!-- Grid column -->
                                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                                          <h6 class="text-uppercase mb-4 font-weight-bold">
                                            Syngery Soccer
                                          </h6>
                                          <p>
                                           Welcome to our official e-commerce site. We sell brand new soccer goods 
                                           from clubs all over the world
                                          </p>
                                        </div>
                                        <!-- Grid column -->
                              
                                        <hr class="w-100 clearfix d-md-none" />
                              
                                        <!-- Grid column -->
                                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                                          <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                                          <p>
                                            <a class="text-white">MDBootstrap</a>
                                          </p>
                                          <p>
                                            <a class="text-white">MDWordPress</a>
                                          </p>
                                          <p>
                                            <a class="text-white">BrandFlow</a>
                                          </p>
                                          <p>
                                            <a class="text-white">Bootstrap Angular</a>
                                          </p>
                                        </div>
                                        <!-- Grid column -->
                              
                                        <hr class="w-100 clearfix d-md-none" />
                              
                                        <!-- Grid column -->
                                        <hr class="w-100 clearfix d-md-none" />
                              
                                        <!-- Grid column -->
                                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                                          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                                          <p><i class="fas fa-home mr-3"></i>NYP, Singapore</p>
                                          <p><i class="fas fa-envelope mr-3"></i> rahow32@gmail.com</p>
                                          <p><i class="fas fa-phone mr-3"></i>9725 9035</p>
                                          <p><i class="fas fa-print mr-3"></i>6457 8792</p>
                                        </div>
                                        <!-- Grid column -->
                              
                                        <!-- Grid column -->
                                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                                          <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>
                              
                                          <!-- Facebook -->
                                          <a
                                             class="btn btn-primary btn-floating m-1"
                                             style="background-color: #3b5998"
                                             href="#!"
                                             role="button"
                                             ><i class="fab fa-facebook-f"></i
                                            ></a>
                              
                                          <!-- Twitter -->
                                          <a
                                             class="btn btn-primary btn-floating m-1"
                                             style="background-color: #55acee"
                                             href="#!"
                                             role="button"
                                             ><i class="fab fa-twitter"></i
                                            ></a>
                              
                                          <!-- Google -->
                                          <a
                                             class="btn btn-primary btn-floating m-1"
                                             style="background-color: #dd4b39"
                                             href="#!"
                                             role="button"
                                             ><i class="fab fa-google"></i
                                            ></a>
                              
                                          <!-- Instagram -->
                                          <a
                                             class="btn btn-primary btn-floating m-1"
                                             style="background-color: #ac2bac"
                                             href="https://www.instagram.com/_thirty_two/"
                                             role="button" target = '_blank'
                                             ><i class="fab fa-instagram"></i
                                            ></a>
                              
                                          <!-- Linkedin -->
                                          <a
                                             class="btn btn-primary btn-floating m-1"
                                             style="background-color: #0082ca"
                                             href="#!"
                                             role="button"
                                             ><i class="fab fa-linkedin-in"></i
                                            ></a>
                                          <!-- Github -->
                                          <a
                                             class="btn btn-primary btn-floating m-1"
                                             style="background-color: #333333"
                                             href="https://github.com/rueyhow"
                                             role="button"
                                             ><i class="fab fa-github"></i
                                            ></a>
                                        </div>
                                      </div>
                                      <!--Grid row-->
                                    </section>
                                    <!-- Section: Links -->
                                  </div>
                                  <!-- Grid container -->
                              
                                  <!-- Copyright -->
                                  <div
                                       class="text-center p-3"
                                       style="background-color: rgba(0, 0, 0, 0.2)"
                                       >
                                    © 2020 Copyright:
                                    <a class="text-white" href="https://mdbootstrap.com/"
                                       >MDBootstrap.com</a
                                      >
                                  </div>
                                  <!-- Copyright -->
                                </footer>
                                <!-- Footer -->
                              
                             
 
                        </div>
                        <!-- footer -->
                    </div>
                </main>
             
            </div>
        </div>
        {% block scripts %}
<!--Popper 1.16.1, Bootstrap 4.5.2 JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{url_for('static' , filename = 'js/base.js')}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
        <script src="{{url_for('static' , filename = 'js/navbar.js')}}"></script>
    </body>
</html>
{% endblock %}
