{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            Invoice : {{orders.invoice}}
            <br>
            Status : {{orders.status}}
            <br>
            {{info.fname}} {{info.lname}}
            <br>
            {{info.address}} {{info.addressl}}
            <br>
            {{info.city}},{{info.state}} {{info.postalcode}}
            <br>
            <td><a href="{{url_for('change_info')}}" class="btn btn-info btn-sm">EDIT</a></td>
        <table class="table table-sm">
            <thead>
                <th>Sr</th>
                <th>Name</th>
                <th>Color</th>
                <th>Quantity</th>
                <th>Price</th>
                {% if discount == 0 %}
                {% else %}
                <th>Discount</th>
                {% endif %}
                <th>Subtotal</th>
            </thead>
            <tbody>
                {% for key, product in orders.orders.items() %}
                {% set discount =(product.discount/100) * product.price|float %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{product.name}}</td>
                    <form action="{{url_for('updatecart', code=key)}}" method="post">
                    <td>
                        {{product.color|capitalize}}
                    </td>
                    <td>{{product.quantity}}</td>
                    <td>${{"%.2f"|format(product.price)}}</td>
                    {% if product.discount  %}
                    <td>{{product.discount}} % &nbsp; &nbsp; is {{"%.2f"|format(discount)}}</td>
                    {% else %}
                    {% endif %}
                    {% set subtotal = product.quantity|int * product.price|float  %}
                    <td>${{"%.2f"|format(subtotal - discount|round(1,'floor')) }}</td>
                </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table table-sm">
           <tr>
            <td>
                {% if percentage %}
                <form action="{{url_for('payment_discount' , percentage = percentage)}}" method="POST">
                    {% set amount =  grandTotal.replace('.','') %}
                    <input type="hidden" name="amount" value="{{amount}}">
                    <input type="hidden" name="invoice" value="{{invoice}}">
                   <script
                     src="https://checkout.stripe.com/checkout.js"
                     class="stripe-button"
                     data-key="pk_test_51KKN0tAEaRDjqb9soECAov6Nvp1AWg9aqDXcZ5hik5OYrJwPlOmu1Lnl1LoUmBSTp0nlCCGXyqjDeOLfv4aicseV00WQHYM3xK"
                     data-name="Synergy"
                     data-amount="{{amount}}"
                     data-currency="sgd">
                   </script>
             </form>
                {% else %}
                <form action="{{url_for('payment')}}" method="POST">
                    {% set amount =  grandTotal.replace('.','') %}
                    <input type="hidden" name="amount" value="{{amount}}">
                    <input type="hidden" name="invoice" value="{{invoice}}">
                   <script
                     src="https://checkout.stripe.com/checkout.js"
                     class="stripe-button"
                     data-key="pk_test_51KKN0tAEaRDjqb9soECAov6Nvp1AWg9aqDXcZ5hik5OYrJwPlOmu1Lnl1LoUmBSTp0nlCCGXyqjDeOLfv4aicseV00WQHYM3xK"
                     data-name="Synergy"
                     data-amount="{{amount}}"
                     data-currency="sgd">
                   </script>
             </form>
                {% endif %}
            </td>
               <td width="15%"></td>
               <td> <h5>Tax: ${{tax}}</h5></td>
               <td> <h5>Grand total: ${{grandTotal}}</h5> </td>
               <td>
                <form action="{{url_for('couponApplied' , invoice = orders.invoice)}}" method = 'POST'>
                    {{ form1.csrf_token }}
                    {{ form1.code() }}
                    <input type="submit" value = 'input coupon code' class = 'btn btn-success'>
                </form>
                </td>
           </tr>
        </table>
    </div>
  </div>
</div>
{% endblock content %}
