{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static' , filename = 'css/coupon.css')}}">
</head>
<body>

  <div class="container-fluid" id = 'generateButton'>
    <a href="{{url_for('generate')}}" class = 'btn1'>Generate Coupon</a>
  </div>

</body>
{% for coupon in coupon_list %}
{% for code in coupon.coupon_dict %}
<div class="card" style="width: 18rem;" id = 'card1'>
    <img class="card-img-top" src="{{url_for('static' , filename = 'images/profilepics/Synergylogo.png')}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{coupon.coupon_dict[code]}}%</h5>
      <h3>{{code}}</h3>
      <p class="card-text"><Strong> <h1>Terms and conditions :</h1></Strong>
        When applying the coupon code <br>
        please confirm order before applying <br>
        Coupon Code will be used upon <strong>APPLYING</strong> <br>
        Not at payment.
      </p>
      <form action="{{url_for('copy', code = code)}}" method = 'GET'>
        <input type="submit" value = 'copy to clipboard' class = 'btn2'>
    </form>
    </div>
  </div>
  {% endfor %}
{% endfor %}
</html>
{% endblock %}