
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
</body>
</html>
{% endblock %}

    <div class="container">
        <div class="row">
            <div class="card">
                <form class="form-signin" , method = 'POST'>
                    <h2 class="form-signin-heading">Please sign in</h2>
                    {{ form.hidden_tag()}}
                    {{ wtf.form_field(form.name) }}
                    {{ wtf.form_field(form.email) }}
                    {{ wtf.form_field(form.feedback) }}
                    <div class="modal-footer">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock}

