{% extends "base.html" %}
{% block title %}Shipping{% endblock %}

{% block content %}
<div class="text-center h1">Shipping Address</div>
<div class="container">
    {% from "includes/_formHelper.html" import render_field %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form action="{{url_for('checkout')}}" method="POST" enctype="multipart/form-data">
            <div>
                {{ render_field(form.name, class="form-control") }}
                {{ render_field(form.address, class="form-control") }}
                {{ render_field(form.country, class="form-control") }}
                {{ render_field(form.city, class="form-control") }}
                {{ render_field(form.state, class="form-control") }}
                {{ render_field(form.zipcode, class="form-control") }}
            </div>
            <p><input type=submit value="Next" class="btn btn-info mt-2"></p>
        </form>
        </div>
        <div class="col-md-4"></div>

    </div>
</div>
{% endblock content%}