{% extends 'base.html' %}
{% block content %}



<div class="container">
    <h3 class="text-center  p-2 h4">Brands</h3>
    <br>
    <table class="table table-striped table-hover">
        <thead>
            <th>#</th>
            <th>Name</th>
        </thead>
        <tbody>
         {% if brands %}
          {% for brand in brands %}
          <tr>
            <td>{{loop.index}}</td>
            <td style="text-transform: capitalize;">{{ brand.name }}</td>
            <td><a href="{{url_for('updatebrand', id=brand.id)}}" class="btn btn-sm btn-primary">Edit</a></td>
            <td><button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-{{brand.id}}">
              Delete
            </button></td>
          </tr>



<!-- =============== Test ================ -->


<!-- Modal -->
<div class="modal fade" id="exampleModal-{{brand.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-danger">Are you Sure that you want to delete this brand ({{ brand.name }}) </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('deletebrand',id=brand.id)}}" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--==============MODEL ===================-->

          {% endfor %}
          {% else %}
          {% for category in categories %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{ category.name }}</td>
            <td> <a href="{{url_for('updatecat', id=category.id)}}" class="btn btn-sm btn-info">Edit</a></td>
            <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{category.id}}">
              Delete
            </button></td>
          </tr>


<!--============= MODEL ===================-->
      <div class="modal fade" id="exampleModal-{{category.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{category.name }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="text-danger">Are you Sure that you want to delete this Category ({{ category.name }}) </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <form action="{{url_for('deletecat',id=category.id)}}" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
              
            </div>
          </div>
        </div>
      </div>
<!--==============MODEL ===================-->

          {% endfor %}
          {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}
