{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static' , filename = 'css/profilepic.css')}}">
</head>
<body>
          <form action="updateProfilePic.html" method = 'POST' , enctype="multipart/form-data">
                                <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="staticBackdropLabel">Synergy Soccer</h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                                {{ form.profile_pic.label(class = 'form-label')}}
                                                {{ form.profile_pic(class = 'form-control' , value = name_to_update.profile_pic)}}
                                                {{ form.upload(class='btn btn-secondary') }}
                                        </div>
                                      </div>
                                    </div>
                                </div>
                </form>





<!-- test1 -->


<section >
    <div class="container">
    	<div class="row">
    		<!--Profile Card 3-->
    		<div class="col-md-4" id = "card3">
    		    <div class="card profile-card-3">
    		        <div class="background-block">
    		            <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="profile-sample1" class="background"/>
    		        </div>
    		        <div class="profile-thumb-block">
                  {% if current_user.base64 == 'None' %}
                  <img src="../../../static/images/profilepics/default.png" class = 'profile'>
                  {% elif current_user.base64 != 'None' %}
                  <img src="data:image/png;base64, {{current_user.base64}}" class ='profile'>
                  {% endif %}
    		        </div>
    		        <div class="card-content">
                    <h2>{{current_user.username}}<small>User</small></h3>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">upload picture</button>
                    </div>
                </div>
    		</div>
    
    	</div>
    </div>
</section>




</body>
<script src="{{url_for('static' , filename = 'js/updateProfile.js')}}"></script>
</html>
{% endblock %}